<div class="page-title">
  <div class="title_left">
    <h3>Unregister Keys</h3>
  </div>

  <div class="title_right">
    <div class="col-md-10 col-sm-10 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="filter" (keyup.enter)="getUnregisterKeys()" [(ngModel)]="filter" placeholder="Search by key...">
        <span class="input-group-btn">
            <button class="btn btn-default" (click)="getUnregisterKeys()" type="button"><i class="fa fa-search" aria-hidden="true"></i> </button>
         </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr>
                <th class="column-title">Key</th>
                <th class="column-title">Software</th>
                <!-- <th class="column-title">Device</th> -->
                <th class="column-title">Date Connected</th>
                <th class="column-title">Store</th>
                <th class="column-title">Date Expried</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of keys">
                <td>{{key.key}}</td>
                <td>
                  <select disabled class="form-control" [(ngModel)]="key.softwareID" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let y of softwares" [value]="y.id" >{{y.name}}</option>
                  </select>
                </td>
                <!-- <td>{{key.deviceName}}</td> -->
                <td>{{key.dateConnected | date:"short" }}</td>
                <td>
                  <select class="form-control" [(ngModel)]="key.storeID" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let st of stores" [value]="st.id" >{{st.token}}--{{st.name}}</option>
                      </select>
                </td>
                <td>
                  <input type="text" #dateExpire="ngModel" value="{{key.dateExpried}}" (selected)="selectedDate($event,key)" date-only="true"
                    date-format="MM-DD-YYYY" daterangepicker 
                    [options]="dateOptions" [(ngModel)]="key.dateExpried"  name="dateExpire" class="form-control">
                </td>
                <td style="text-align: right">
                  <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Register product key" (click)="registerProduct(key)"> <i class="fa fa-unlock" aria-hidden="true"></i></button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="col-md-12">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="pageIndex" [itemsPerPage]="pageSize" class="pagination-sm"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>