 <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">

      <li><a><i class="fa fa-home"></i> Manage Stores<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
           <li><a routerLink="/main/store"> Stores</a></li>
        </ul>
      </li>
      <li><a><i class="glyphicon glyphicon-user"></i>  Manage Employees <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="/main/user" routerLinkActive="active">Employees</a></li>
        </ul>
      </li>

      <li><a><i class="glyphicon glyphicon-lock"></i>  Manage Keys<span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="/main/unregister-key" routerLinkActive="active">Unregister Keys</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div> 
