<div class="page-title">
  <div class="title_left">
    <h3>Employees</h3>
  </div>

  <div class="title_right">
    <div class="col-md-10 col-sm-10 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="filter" (keyup.enter)="getUsers()" [(ngModel)]="filter" placeholder="Find by username...">
        <span class="input-group-btn">
            <button class="btn btn-default" (click)="getUsers()" type="button">Search!</button>
         </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button *ngIf="_authenService.hasPermission('USER','create')" class="btn btn-success" (click)="showAddModal()">Add new employee</button>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>User name</th>
              <th>Full name</th>
              <th>Email</th>
              <th>Birth day</th>
              <th>Phone#</th>
              <th>Avatar</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.userName}}</td>
              <td>{{user.fullName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.birthDay | date:'shortDate'}}</td>
              <td>{{user.phoneNumber}}</td>
              <td><img [src]="baseFolder + user.avatar" width="128" class="small-image" /></td>
              <td>
                <!-- *ngIf="_authenService.hasPermission('USER','update')"  *ngIf="_authenService.hasPermission('USER','delete')" -->
                <button class="btn btn-primary" (click)="showEditModal(user.id)"><i class="fa fa-pencil-square-o"></i></button>
                <button class="btn btn-danger" (click)="deleteUser(user.id)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12">
          <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalItems"
            [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal add and edit-->
<div bsModal #modalAddEditUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add/Edit user</h4>
        <button type="button" class="close pull-right" (click)="modalAddEditUser.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditUserForm="ngForm" (ngSubmit)="saveChange(addEditUserForm.valid)"
          *ngIf="entity">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Full name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #name="ngModel" [(ngModel)]="entity.fullName" required minlength="3" name="name" class="form-control">
              <small [hidden]="name.valid || (name.pristine && !addEditUserForm.submitted)" class="text-danger">
                  Please enter at least 3 characters !
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">User name</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #username="ngModel" [(ngModel)]="entity.userName" required name="username" class="form-control">
              <small [hidden]="username.valid || (username.pristine && !addEditUserForm.submitted)" class="text-danger">
                  Username is required !
              </small>
            </div>
          </div>
          <div class="form-group" *ngIf="!entity.id">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" #password="ngModel" [(ngModel)]="entity.password" required minlength="6" name="password" class="form-control">
              <small [hidden]="password.valid || (password.pristine && !addEditUserForm.submitted)" class="text-danger">
                  Please enter at least 6 characters !
              </small>
            </div>
          </div>
          <div class="form-group" *ngIf="!entity.id">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Confirm password </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="password" #confirmpassword="ngModel" [(ngModel)]="entity.confirmPassword" required validateEqual="password"
                minlength="6" name="confirmpassword" class="form-control">
              <small [hidden]="confirmpassword.valid || (confirmpassword.pristine && !addEditUserForm.submitted)" class="text-danger">
                  Password not match !
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="entity.email" name="email"
                class="form-control">
              <!-- <small [hidden]="email.valid || (email.pristine && !addEditUserForm.submitted)" class="text-danger">
                Email is required !
              </small> -->
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #address="ngModel" [(ngModel)]="entity.address" name="address" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Điện thoại</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #phonenumber="ngModel" [(ngModel)]="entity.phoneNumber" name="phonenumber" class="form-control">
              <!-- <small [hidden]="phonenumber.valid || (phonenumber.pristine && !addEditUserForm.submitted)" class="text-danger">
                  Phone# is required !
              </small> -->
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Avatar</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="file" #avatar name="avatar" class="form-control">
              <p class="help-block label label-danger"> support format *.png, *.jpg, *.jpeg </p>
              <input type="hidden" [(ngModel)]="entity.avatar" name="avatarUrl" />
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="entity.avatar">
              <img [src]="baseFolder+entity.avatar" width="128" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Birth day</label>
            <div class="col-md-9 col-sm-9 col-xs-12">

              <input type="text" #birthday="ngModel" value="{{entity.birthDay}}" (selected)="selectedDate($event,key)" date-only="true"
                date-format="MM-DD-YYYY" daterangepicker 
                [options]="dateOptions" [(ngModel)]="entity.birthDay" name="dateExpire" class="form-control" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
            <div class="col-md-6 col-sm-6 col-xs-12">

              <input type="radio" (change)="selectGender($event)" #gender="ngModel" [checked]="entity.gender=='True'" name="gender" [ngModel]="entity.gender"
                value="True" required /> Female

              <input type="radio" (change)="selectGender($event)" #gender="ngModel" [checked]="entity.gender=='False'" name="gender" [ngModel]="entity.gender"
                value="False" /> Male

            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Role</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <ss-multiselect-dropdown [ngModelOptions]="{standalone: true}" [options]="allRoles" [(ngModel)]="myRoles"></ss-multiselect-dropdown>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="modalAddEditUser.hide()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditUserForm.form.valid">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>