<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Danh sách nhóm</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" (click)="showAddModal()">Add new Role</button>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table">
          <thead>
            <tr>
              <th>Mã nhóm</th>
              <th>Tên nhóm</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles">
              <td>{{role.Name}}</td>
              <td>{{role.Description}}</td>
              <td>
                <button class="btn btn-primary" (click)="showEditModal(role.Id)"><i class="fa fa-pencil-square-o"></i> </button>
                <button class="btn btn-danger" (click)="onButtonDeleteRoleClicked(role.Id)"><i class="fa fa-trash"></i> </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="col-md-12">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="pageIndex" [itemsPerPage]="pageSize" class="pagination-sm"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
          </pagination>
        </div>

      </div>
    </div>
  </div>
</div>

<!--Add/Edit Role Modal  -->
<div bsModal #addOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add new Role</h4>
        <button type="button" class="close pull-right" (click)="addOrEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addOrEditForm" #addOrEditForm="ngForm" (ngSubmit)="saveChanges(addOrEditForm.valid)" *ngIf="entity" novalidate
          class="form-horizontal form-label-left">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name <span class="required">*</span>
                        </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="hidden" [(ngModel)]="entity.Id" name="id" />
              <input type="text" id="first-name" required="required" minlength="3" #name="ngModel" [(ngModel)]="entity.Name" name="name"
                class="form-control col-md-7 col-xs-12">
              <small [hidden]="name.valid || (name.pristine && !addOrEditForm.submitted)" class="text-danger">
                Bạn phải nhập tên ít nhất 3 ký tự
              </small>

            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Description <span class="required">*</span>
                        </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="last-name" name="last-name" required="required" #description="ngModel" [(ngModel)]="entity.Description"
                name="description" class="form-control col-md-7 col-xs-12">
              <small [hidden]="description.valid || (description.pristine && !addOrEditForm.submitted)" class="text-danger">
                Bạn phải nhập mô tả
              </small>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button type="button" (click)="addOrEditModal.hide()" class="btn btn-primary">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!addOrEditForm.form.valid">Save</button>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>